DATABASE_URL_BACK=

# 嵌入模型配置 - 使用OpenAI（需要API Key）
EMBEDDING_PROVIDER=""
EMBEDDING_MODEL="text-embedding-v4"
# 向量维度
DIMENSIONS="1024"
BASE_URL="https://dashscope.aliyuncs.com/compatible-mode/v1"
EMBEDDING_APIKEY=""
