.container {
  margin-bottom: 16px;
  background: #ffffff;
  border-radius: 4px;
  padding: 16px;
}

.collapse :global(.ant-collapse-header) {
  font-size: 16px;
  font-weight: 500;
  padding: 0px 0px 0px 0 !important;
}

.collapse :global(.ant-collapse-content-box) {
  padding: 8px 8px 0px 0px !important;
}

.description {
  margin: 0;
  line-height: 1.6;
  font-size: 14px;
}
