.container {
  margin-bottom: 12px;
  padding: 6px 16px;
  border-radius: 4px;
  display: flex;
  align-items: flex-start;
  gap: 8px;
  background: #00000005;
}

.text {
  color: #333;
  font-size: 14px;
  line-height: 1.5;
  flex: 1;
}

.label {
  font-weight: 500;
  color: #333;
}
